<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="../utils/script.js"></script>
	<title>Note Taker</title>
</head>
<body>

	<section class="container">
			<div class="content">
				<div class="logo">
					<img src="../img/logo.png">
				</div>
				<div class="heading">
					<h2 style="color: #464646; font-size: 26px; font-family: Inter; font-weight: 700; word-wrap: break-word">Chrome extension</h2>
				</div>
			</div>


			<div class="field">
				<div class="input-field">
				  <div class="videoicon"><img src="../img/videoicon.png"></div>
				  <input type="url" name="URL" id="meetingUrlInput" placeholder="Enter meeting URL to record">
				  <button id="submitUrlBtn" class="micicon"><img src="../img/micicon.png"></button>
				</div>
			</div>

			<div class="option" id="hr-line">
				<h2 style="text-align: center; color: #020005; font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 21px; word-wrap: break-word">Or Join your meeting with</h2>
			</div>

			<div class="meetopt">
					<a href="https://www.microsoft.com/en-in/microsoft-teams/log-in" target="_blank"> <div class="icons"><img src="../img/teams.png"> </div></a>
					<a href="https://meet.google.com/" target="_blank"><div class="icons"><img src="../img/meet.png"> </div></a>
					<a href="https://zoom.us/" target="_blank"><div class="icons"><img src="../img/zoom.png"></div></a>
			</div>
	</section>


</body>
</html>