<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Note Taker</title>
</head>
<body>

	<section class="container">
			<div class="content">
				<div class="logo">
					<img src="../img/logo.png">
				</div>
				<div class="heading">
					<h2 style="color: #464646; font-size: 26px; font-family: Inter; font-weight: 700; word-wrap: break-word">Chrome extension</h2>
				</div>
			</div>

			<div class="recording">
				<div class="outline"></div>
				<div class="outline" id="delayed"></div>
				<div class="image"><img src="../img/record.png"></div>
				<h2>Meeting is getting recording ...</h2>
			</div>
			<div class="rec">
				<img src="../img/rec.png">
			</div>
	</section>


</body>
</html>